@charset "utf-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}
.wrap {
  position: relative;
  background-color: aqua;
  width: 100%;
  max-width: 1000px;
  margin: auto;
}
.wrap h1 {
  width: 100%;
  height: 100px;
  background-color: antiquewhite;
  text-align: center;
  padding-top: 25px;
}
.img {
  width: 100%;
  padding-top: 30px;
  display: flex;
  flex-wrap: wrap;
}
.img li {
    width: calc(100% / 4);
  padding: 10px;
}
.img li img {
  width: 100%;
}
.info {
  padding: 5px 20px;
  line-height: 35px;
  display: flex;
  flex-direction: column;
}
.info p:nth-child(3) {
  color: red;
}
@media screen and (max-width: 800px) {
    .img li {
        width: calc(100% / 3);
    
    }
}
@media screen and (max-width: 450px) {
    .img li {
        width: calc(100% / 2);
    
    }
}
@media screen and (max-width: 250px) {
    .img li {
        width: calc(100% / 1);
    
    }
}
